[submodule "third_party/mcpelauncher-linker"]
	path = third_party/mcpelauncher-linker
	url = /run/media/franklin/storage/Projects/rbx-native-runtime/third_party/mcpelauncher-linker
[submodule "third_party/libjnivm"]
	path = third_party/libjnivm
	url = /run/media/franklin/storage/Projects/rbx-native-runtime/third_party/libjnivm
